<h1>Accessible Modal Component</h1>

<p>Welcome to the acessible modal testing page!</p>
<button class="button button-primary" type="button" (click)="show()">
  Show modal
</button>

<ng-template #modal>
  <div class="form-field">
    <label for="firstName">First name</label>
    <input [(value)]="firstName" type="text" id="firstName" />
  </div>

  <div class="form-field">
    <label for="surname">Surname</label>
    <input type="text" id="surname" />
  </div>

  <div class="form-field">
    <label for="age">Age</label>
    <input id="age" />
  </div>

  <label for="info">Subscribe</label>
  <input (change)="info = !info" id="info" type="checkbox" />
  <p [@fade] *ngIf="info">Placeholder for more information</p>

  <div class="button-group">
    <button class="button button-primary" type="button">Submit</button>
    <button (click)="close()" class="button button-secondary" type="button">
      Cancel
    </button>
  </div>
</ng-template>

<!-- <ng-template #template1>
  <p>I am temaplte 1</p>
</ng-template>

<ng-template #template2>
  <p>I am temaplte 2</p>
</ng-template>

<ng-content *ngTemplateOutlet="selected"></ng-content> -->
