<h1>Accessible Modal Component</h1>

<p>Welcome to the acessible modal testing page!</p>
<button
  class="button button-primary"
  type="button"
  (click)="show()">
  Show modal
</button>

<ng-template #modal>
  <div class="form-field">
    <label for="firstName">First name</label>
    <input [(value)]="firstName" type="text" id="firstName" />
  </div>

  <div class="form-field">
    <label for="surname">Surname</label>
    <input type="text" id="surname" />
  </div>

  <div class="form-field">
    <label for="age">Age</label>
    <input id="age" />
  </div>

  <div class="button-group">
    <button class="button button-primary" type="button">Submit</button>
    <button
      (click)="close()"
      class="button button-secondary"
      type="button">Cancel
    </button>
  </div>
</ng-template>
